* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: blue;
}
#large, #medium, #small {
    text-align: center;
    text-transform: capitalize;
    color: white;
    width: 90%;
    padding: 2vw;
}
#large {
    display: block;
    font-size: 10rem;
}
#medium {
    display: none;
    font-size: 5rem;
}
#small {
    display: none;
    font-size: 2.5rem;
}
h3 {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    color: wheat;
}
p {
    margin: 1rem;
    font-size: 1rem;
    color: honeydew;
}
.flex-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 2vw auto;
}
@media only screen and (max-width: 768px) {
    body {
        background-color: green;
    }
    #medium {
        display: block;
    }
    #small, #large {
        display: none;
    }
    .flex-container {
        display: block;
    }
    .flex-container .first {
        width: 66%;
    }
    .flex-container .second, .flex-container .third {
        width: 33%;
        display: inline-block;
    }
}
@media only screen and (max-width: 500px) {
    body {
        background-color: red;
    }
    #small {
        display: block;
    }
    #medium, #large {
        display: none;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .flex-container .second, .flex-container .third, .flex-container .first {
        width: 100%;
    }
}